<head>
  <style>
  @media all and (max-width: 724px) {
    p{
      width: 99%;
    }
    p#t1{
      display: inline;
          width: 99%;
        float: left;
    }
  }
  @media all and (min-width: 725px) {
    p{
        width: 49%;
      }
    p#t1{
      display: inline;
          width: 49%;
        float: left;
    }
  }
  @media all and (min-width: 1681px) {
    p{
          width: 33%;
        }
    p#t1{
        display: inline;
            width: 33%;
          float: left;
      }
 </style>
 </head>
